<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/main" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Movies App</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="/main" class="nav-link {{ 'active' if request.path == '/main' else '' }}" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="/movies" class="nav-link {{ 'active' if request.path == '/movies' else '' }}">List movies</a></li>
      <li class="nav-item"><a href="/movie" class="nav-link {{ 'active' if request.path == '/movie' else '' }}">Add a new movie</a></li>
      <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
    </ul>
  </header>
</div>